﻿@{
    ViewBag.Title = "Invoices";
}

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $('.table').dataTable({
                bServerSide: true,
                sAjaxSource: "/Invoice/LoadInvoices",
                bProcessing: true,
                aoColumns: [
                  { sTitle: "Invoice Number", mData: "InvoiceNumber" },
                  { sTitle: "PO Number", mData: "PONumber" },
                  { sTitle: "Status", mData: "Status" },
                  { sTitle: "Date", mData: "InvoiceDateJSON" },
                  { sTitle: "Amount", mData: "InvoiceAmount" }
                ],
                order: [3, 'desc'],
            });
        });
    </script>
}

<h2>Invoices</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Invoice Number
            </th>
            <th>
                PO Number
            </th>
            <th>
                Status
            </th>
            <th>
                Date
            </th>
            <th>
                Amount
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>

</table>
