﻿
@section Scripts {
<script type="text/javascript" src="~/Scripts/fabric.js"></script>
<script type="text/javascript" src="~/Scripts/customize.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.form.js"></script>
<link href="/Content/bootstrap.min.css" rel="stylesheet">
<link href="/Content/bootstrap-responsive.min.css" rel="stylesheet">
    <script type="text/javascript">

        function uploadImage() {
            var $form = $('#uploadImageForm');
            var formdata = new FormData($form.get(0));
            $.ajax({
                type: $form.attr('method'),
                url: $form.attr('action'),
                data: formdata,
                processData: false,
                contentType: false,
                async: false,
                success: function (data) {
                    $('#avatarlist').html(data);
                    initDragDrop();
                }
            });
        }

        function placeOrder() {
            var orderNumber;
            var $form = $('#orderForm');
            var formdata = new FormData($form.get(0));
            $.ajax({
                type: $form.attr('method'),
                url: $form.attr('action'),
                data: formdata,
                processData: false,
                contentType: false,
                async: false,
                success: function (data) {
                    orderNumber = data;
                }
            });

            return orderNumber
        }

        function flattenImage(area, orderNum) {

            var images = [];

            var canvases;
            if (area == 'front') {
                canvases = $('.tcanvas.frontArea');
            } else {
                canvases = $('.tcanvas.backArea')
            }
            canvases.each(function (index, el) {
                var thisCanvas = el.fabric;
                var parentEl = $(el).closest('.drawingArea');
                var objects = thisCanvas.getObjects();
                $(objects).each(function (objIndex, objEl) {

                    var currentObj = objects[objIndex];

                    var canvasWidth = thisCanvas.width;
                    var canvasHeight = thisCanvas.height;
                    var reachedLimit = false;
                    var objectLeft = currentObj.left;
                    var objectTop = currentObj.top;
                    // this provide scaled height and width
                    var objectWidth = currentObj.getWidth();
                    var objectHeight = currentObj.getHeight();

                    var image = new Object();
                    image.Top = objectTop + parentEl.position().top,
                    image.Left = objectLeft + parentEl.position().left,
                    image.Width = objectWidth,
                    image.Height = objectHeight,
                    image.Source = currentObj._originalImage.currentSrc

                    images.push(image)
                })
            })

            $.ajax({
                type: "POST",
                url: "/Customize/FlattenImage",
                dataType: "json",
                data: {
                    Area: area,
                    OrderNumber: orderNum,
                    canvasImages: images
                },
                success: function (returnValue) {
                    alert(returnValue);
                    window.location = '/Customize/Download?file=' + returnValue;
                }
            });
        }

        function email(orderNum) {
            $.ajax({
                type: "POST",
                url: "/Customize/EmailSomething",
                data: { orderNumber: orderNum}
            });
        }

        function doItAll() {
            var orderNum = placeOrder();
            flattenImage('front', orderNum);
            flattenImage('back', orderNum);
            email(orderNum);
            alert("Request Submitted");
        }

    </script>
}
    <div class="container">
        <section id="typography">
            <div class="page-header">
                <img src="/img/logo.png" height="100" />
            </div>
            <!-- Headings & Paragraph Copy -->
            <div class="row" style="position:relative">
                <div class="span3">
                    <div class="well">
                        <form id="uploadImageForm" method="post" action="/Customize/UploadImage" enctype="multipart/form-data">
                            <input type="file" name="image" />
                            <button type="button" onclick="uploadImage()" class="btn">Upload</button>
                        </form>
                        <div id="avatarlist">
                            @{Html.RenderAction("ImageList");}
                        </div>
                    </div>
                </div>
                <div class="span6" style="position:relative">
                    <!--	EDITOR      -->
                    <div id="shirtDiv" class="page" style="width: 530px; height: 630px; position: absolute; background-color: rgb(255, 255, 255); z-index: 9998">
                        <img id="tshirtFacing" src="/img/Flat-47205-Front.png" height="530" width="530" />
                        <div class="drawingArea frontArea" style="position: absolute;top: 205px;left: 335px;z-index: 1000;width: 70px;height: 80px">
                            <canvas width=70 height="80" class="tcanvas frontArea hover" style="-webkit-user-select: none;"></canvas>
                        </div>
                        <div class="drawingArea frontArea" style="position: absolute;top: 365px;left: 85px;z-index: 1000;width: 155px;height: 100px">
                            <canvas width=155 height="100" class="tcanvas frontArea hover" style="-webkit-user-select: none;"></canvas>
                        </div>
                        <div class="drawingArea frontArea" style="position: absolute;top: 365px;left: 275px;z-index: 1000;width: 175px;height: 100px">
                            <canvas width=175 height="100" class="tcanvas frontArea hover" style="-webkit-user-select: none;"></canvas>
                        </div>
                        <button class="btn btn-default flip" style="position:absolute; top:0px; right:-15px; cursor:pointer; z-index:9999">
                            <h4>Back View</h4>
                            <img src="/img/Flat-47205-Back.png" height="100" width="100" />
                        </button>
                    </div>
                    <div id="shirtBack" class="page" style="width: 530px; height: 630px; position: absolute; background-color: rgb(255, 255, 255); z-index: 0">
                    	<img src="/img/Flat-47205-Back.png" height="530" width="530">
                        <div class="drawingArea backArea" style="position: absolute;top: 60px;left: 190px;z-index: 1000;width: 155px;height: 250px">
                            <canvas width=155 height="250" class="tcanvas backArea hover" style="-webkit-user-select: none;"></canvas>
                        </div>
                        <div class="drawingArea backArea" style="position: absolute;top: 365px;left: 85px;z-index: 1000;width: 365px;height: 100px">
                            <canvas width=365 height="100" class="tcanvas backArea hover" style="-webkit-user-select: none;"></canvas>
                        </div>
                        <button class="btn btn-default flip" style="position:absolute; top:0px; right:-15px; cursor:pointer; z-index:9999">
                            <h4>Front View</h4>
                            <img src="/img/Flat-47205-Back.png" height="100" width="100" />
                        </button>
                    </div>	
                    <div align="center" style="min-height: 32px;">
                        <div class="clearfix">
                            <div id="imageeditor" style="display:none;">
                                <div class="btn-group" style="z-index:9999">
                                    <button class="btn btn-primary" id="bring-to-front" title="Bring to Front"><i class="fa fa-fast-backward" style="height:19px;"></i></button>
                                    <button class="btn btn-primary" id="send-to-back" title="Send to Back"><i class="fa fa-fast-forward" style="height:19px;"></i></button>
                                    <button id="remove-selected" class="btn btn-primary" title="Delete selected item"><i class="fa fa-trash" style="height:19px;"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>					
                </div>
                <div class="span3">
                    <div class="well">
                        <br />
                        <form id="orderForm" method="post" action="/Customize/PlaceOrder" enctype="multipart/form-data">
                            <button type="button" class="btn btn-large btn-block btn-success" name="addToTheBag" id="addToTheBag" onclick="doItAll()">Request a Quote <i class="icon-shopping-cart icon-white"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>