﻿@{
    ViewBag.Title = "Orders";
}

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $('.table').dataTable({
                bServerSide: true,
                sAjaxSource: "/Order/LoadOrders",
                bProcessing: true,
                aoColumns: [
                  { sTitle: "Order Number", mData: "SalesOrder" },
                  { sTitle: "Purchase Order", mData: "PurchaseOrder" },
                  { sTitle: "Ship To Name", mData: "ShipName" },
                  { sTitle: "Status", mData: "Status" },
                  { sTitle: "Order Date", mData: "OrderDateJSON" },
                  { sTitle: "Order Value", mData: "OrderValue" }
                ],
                order: [4, 'desc'],
            });
        });
    </script>
}

<h2>Orders</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Order Number
            </th>
            <th>
                Purchase Order
            </th>
            <th>
                Ship To Name
            </th>
            <th>
                Status
            </th>
            <th>
                Order Date
            </th>
            <th>
                Order Value
            </th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
