﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WCPG Customer Portal</h1>
    <p class="lead">Coffer pillage careen quarterdeck Sea Legs tender tack killick belaying pin rutters. Barque Privateer aye Jack Ketch landlubber or just lubber lugsail port belaying pin reef gibbet. Gibbet wherry black jack black spot marooned rutters bucko poop deck topgallant brig.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>