﻿@{
    ViewBag.Title = "Products";
}

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $('.table').dataTable({
                bServerSide: true,
                sAjaxSource: "/Product/LoadProducts",
                bProcessing: true,
                fnRowCallback: customFnRowCallback,
                aoColumns: [
                  { sTitle: "", mData: "URL", orderable: false, sClass: 'tableThumbnailCell' },
                  { sTitle: "SKU", mData: "SKU" },
                  { sTitle: "Customer SKU", mData: "CustomerSKU" },
                  { sTitle: "Description", mData: "Description" },
                  { sTitle: "Size", mData: "Size" },
                  { sTitle: "Price", mData: "Price" }
                ],
                order: [1, 'asc'],
            });
        });

        function customFnRowCallback(nRow, aData, iDisplayIndex) {
            $('td:eq(0)', nRow).html('<img src="' + aData.URL + '" height="50" />');
            return nRow;
        }
    </script>
}

<h2>Products</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                URL
            </th>
            <th>
                SKU
            </th>
            <th>
                Customer SKU
            </th>
            <th>
                Description
            </th>
            <th>
                Size
            </th>
            <th>
                Price
            </th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
